{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as macro %}

{% block toolbar %}
    {% if collector.totalRequests > 0 %}
        {% set icon %}
            {% if constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION_ID') >= 20800 %}
                {{ include('@Httplug/Icon/httplug.svg') }}
            {% else %}
                {{ include('@Httplug/Icon/httplug_old.svg') }}
            {% endif %}
            <span class="sf-toolbar-value">{{ collector.totalRequests }}</span>
            <span class="sf-toolbar-label">req.</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Successful requests</b>
                <span>{{ collector.sucessfulRequests }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Faild requests</b>
                <span>{{ collector.failedRequests }}</span>
            </div>

        {% endset %}
        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label {{ collector.totalRequests == 0 ? 'disabled' }}">
        <span class="icon">
            {% if constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION_ID') >= 20800 %}
                {{ include('@Httplug/Icon/httplug.svg') }}
            {% else %}
                {{ include('@Httplug/Icon/httplug_old.svg') }}
            {% endif %}
        </span>
        <strong>Httplug</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>HTTPlug</h2>
    {% for name, client in collector.clients %}
        <h3>{{ name }}</h3>
        {% for stackIndex in client.stackIndexKeys %}
            {{ macro.printMessages(client.requstStack(stackIndex), client.responseStack(stackIndex), collector.journal.plugins(name)) }}
        {% endfor %}
    {% else %}
        <div class="empty">
            <p>No request were sent.</p>
        </div>
    {% endfor %}

{% endblock %}

{% macro printMessages(requestStack, responseStack, pluginNames) %}
    <table>
        <tr>
            <th width="50%">Request</th>
            <th width="50%">Response</th>
        </tr>

        <tr>
            <td>{{ requestStack[0]|nl2br }}</td>
            <td>{{ responseStack[0]|nl2br }}</td>
        </tr>
        {% if requestStack|length > 1 %}
            <tr>
                <td colspan="2" style="text-align:center">See all</td>
            </tr>
            {% for idx in 1..requestStack|length-1 %}
                <tr>
                    <td colspan="2" style="">{{ pluginNames[idx-1] }}</td>
                </tr>
                <tr>
                    <td>{{ requestStack[idx]|nl2br }}</td>
                    <td>{{ responseStack[idx]|nl2br }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endmacro %}
